* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 5px;
    background-color: rgb(255, 234, 0);
}

header img {
    width: 15px;
}

header h1 {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

nav {
    width: 100%;
    background-color: #4e516c;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
nav button {
    border-radius: 100px;
    background-color: rgb(31, 31, 46);
}


.DIU_banner{
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
            height: auto; /* Maintain the aspect ratio of the image */
            margin: auto; /* Center the image horizontally */
}

.diuh1{
    flex: 1;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
}

.CSE_banner{
    width: 50%;
    float: right;
}

.CP_banner {
    width: 50%;
    float: left;
}

.container {
    float: left;
    display: inline;
    width: 33%; /* Set the width of the container */
    background-color: #ffffff; /* Add a background color to the container */
}

.teacher_photo{
    width: 95%;
}

.Social {
    width: 15%;
}

footer {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}